@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');
@import "vuetify/dist/vuetify.min.css";

.navBar
{
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-size: 20px;
}
.navBar:hover
{
    background: white;
    color: green;
}
.navBar:hover:active
{
    background: white;
    color: green;
}
.navBar:active
{
    background: white;
    color: green;
}
.btn-group .button
{
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin:0px; 
    height:50px;
    text-align: center;
    display: grid;
    padding: 0px;
}
.btn-group .button:not(:last-child) 
{
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover 
{
    background-color: #3e8e41;
}
.btnLog {
    background-color: #407c29; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btnLog1 {
    background-color: white; 
    color: black;
    border: 2px solid #33691E;
  }
  
  .btnLog1:hover {
    background-color: #33691E;
    color: white;
  }
  